.q3-classic-dropdown {
  border: 1px solid lightgrey;
  padding: 20px;
}

.q3-classic-dropdown .label {
  font-size: 10px;
  margin: 2px;
  color: grey;
}

.q3-classic-dropdown .dropdown-wrapper {
  position: relative;
}

.q3-classic-dropdown .dropdown-wrapper button {
  width: 150px;
  background: none;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  outline: none;
  justify-content: space-between;
}

.q3-classic-dropdown .dropdown-wrapper button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.q3-classic-dropdown .dropdown-wrapper button span {
  margin-left: 5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: grey transparent transparent transparent;
  transition: all 0.3s ease-in;
}

.q3-classic-dropdown .dropdown-wrapper .dropdown-list {
  max-height: 0px;
  opacity: 0;
  overflow: hidden;
  background: white;
  width: 150px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  position: absolute;
  top: 2;
  transition: max-height, opacity 0.3s ease;
}

.q3-classic-dropdown .dropdown-wrapper .dropdown-list.expanded {
  max-height: 200px;
  opacity: 1;
  border: 1px solid lightgrey;
}

.q3-classic-dropdown .dropdown-wrapper .dropdown-list .option {
  font-size: 13px;
  padding: 5px 10px;
  border-bottom: 1px solid lightgrey;
}

.q3-classic-dropdown .dropdown-wrapper .dropdown-list .option:hover {
  background: lightgrey;
  cursor: pointer;
}
