.photo-section {
  border: 1px solid grey;
  height: 500px;
  background: url(https://picsum.photos/1000/400);
  background-size: cover;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: rgba(black, 0.4);
  }

  .text {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 2;

    .title {
      font-size: 50px;
    }

    .description {
      margin-top: 20px;
      width: 50%;
    }

    .start-button {
      margin-top: 60px;
      padding: 10px 40px;
      border: 1px solid white;
      color: white;
      border-radius: 4px;

      &:hover {
        cursor: pointer;
        box-shadow: 0px 0px 10px 0px rgba(white, 0.4);
      }
    }
  }
}