.product-section {
  margin-top: 20px;
  display: flex;
  .product-card {
    width: 30%;
    height: 300px;
    padding: 40px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid lightgrey;
    border-radius: 5px;

    .name {
      font-size: 25px;
      font-weight: bold;
    }

    .description {
      text-align: center;
      color: grey;
    }

    .price {
      color: #4a90e2;
      font-size: 35px;
    }

    img {
      width: 80px;
    }

    &:hover {
      box-shadow: 0px 0px 10px 0px rgba(black, 0.5);
      border: none;
      cursor: pointer;
    }
  }
}
