.App {
  padding: 0 50px 20px;

  .happy-ending {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    strong {
      color: red;
    }
  }
}
